@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --black: #1e1e1e;
    --white: #eaeaea;
    --gray: #484848;
    --light-gray: #737373;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.5rem, 5vw, 75px);
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
    

.introduction {
    background-image: url('/img/landing-background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15vw;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    

.author {
    text-align: right;
}

.author__heading {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    margin: 0;
}

.author__body {
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    margin: 0.5em 0 0 0;
}

body {
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: var(--font-size-base);
}

input[type="name"],
input[type="email"],
input[type="text"],
select,
textarea{
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.header__nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.header__nav a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.5em 1.2em;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}

.header__nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.searchBtn {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchBtn:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

.about {
    background: url('/img/background-about.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
.about__card {
  background: rgba(234, 234, 234, 0.3);
  color: var(--gray);
  max-width: 500px;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about__heading {
  text-transform: uppercase;
  color: var(--black);
  font-size: 24px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
  
.about__text {
  text-transform: uppercase;
  font-weight: 450;
  line-height: 1.6;
  color: var(--gray);
}

.apps {
  background: url('/img/background-apps.png') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.apps-heading {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.apps-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.apps-card {
  background: rgba(234, 234, 234, 0.3);
  color: var(--gray);
  max-width: 900px;
  width: 100%;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
}

.app-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  mix-blend-mode: luminosity;
}

.slider-container { 
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper .slider-item {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slider-wrapper .slider-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/background-apps.png');
  background-size: cover;
  background-position: center;
}

.slider-wrapper .slider-item:nth-child(2):before {
  background-image: url('/img/background-about.png');
}

.slider-wrapper .slider-item:nth-child(3):before {
  background-image: url('/img/house1.png');
}

.slider-wrapper .slider-item:nth-child(4):before {
  background-image: url('/img/house2.png');
}

.slider-wrapper .slider-item:nth-child(5):before {
  background-image: url('/img/landing-background-image.png');
}

.slider-wrapper .slider-item .slide-content {
  opacity: 0;
  color: var(--white);
  z-index: 20;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 10px;
  max-width: 1400px;
  position: relative;
}

.slider-item.swiper-slide-active .slide-content {
  animation: animate_opacity 0.8s 0.6s linear forwards;
}

@keyframes animate_opacity {
  100% {
    opacity: 1;
  }
}

.slider-wrapper .slider-item .slide-content > * {
  max-width: 35%;
}

.slider-item .slide-content .slide-subtitle {
  font-size: 1rem;
  font-weight: normal;
  opacity: 0;
  transform: translateY(60%);
}

.slider-item .slide-content .slide-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(60%);
}

.slider-item.swiper-slide-active :where(.slide-subtitle, .slide-title) {
  animation: animate_text 0.6s 0.6s linear forwards;
}

@keyframes animate_text {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slider-item .slide-content .slide-description {
  margin-top: 25px;
  line-height: 25px;
}

.slider-item.swiper-slide-active .slide-description {
  animation: animate_text 0.6s 1s linear forwards;
  opacity: 0;
  transform: translateY(60%);
}

.slider-item .slide-content .slide-button {
  color: var(--white);
  opacity: 0;
  width: 0px;
  padding: 13px 0;
  display: block;
  margin-top: 45px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--white);
  transition: 0.5s ease;
}

.slider-item .slide-content .slide-button span {
  opacity: 0;
}

.slider-item.swiper-slide-active .slide-button span {
  animation: animate_opacity 0.6s 1.5s linear forwards;
}

.slider-item.swiper-slide-active .slide-button {
  animation: animate_button 0.6s 1.3s linear forwards;
}

@keyframes animate_button {
  100% {
    opacity: 1;
    width: 250px;
  }
}

.slider-item .slide-content .slide-button:hover {
  color: var(--black);
  background: var(--white);
}

.slider-container .slider-controls {
  position: absolute;
  bottom: 45px;
  z-index: 20;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-controls .slider-pagination {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
  list-style: none;
  justify-content: space-between;
}

.slider-pagination .slider-indicator {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid var(--white);
  transition: 0.4s ease-in-out;
}

.slider-pagination .slider-tab {
  color: var(--white);
  text-align: center;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slider-navigations button {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 20;
  color: var(--white);
  border: none;
  background: var(--gray);
  transform: translateY(-50%);
  transition: 0.4s ease;
}

.slider-navigations button.swiper-button-disabled {
  display: none;
}

.slider-navigations button:hover {
  background: var(--light-gray);
}

.slider-navigations button#slide-prev {
  left: 20px;
}

.slider-navigations button#slide-next {
  right: 20px;
}